:root {
  --primery-text-color:#757575;
  --primery-backround-color:#fff;
  --title-text-color: #212121;
  --primary-white-color: #fff;
  --secondary-background-color: #F5F4FA;
  --primary-black-color: #000000;
  --accent-color: #2196F3;
  --indent: 30px;
  --items: 4;
  --anim-fast: 300ms ease-out;
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}

.card-set-item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) -1)) / (var(--items)));
      flex-basis: calc((100% - var(--indent) * (var(--items) -1)) / (var(--items)));
}

.html {
  scroll-behavior: smooth;
}

body {
  color: var(--primery-text-color);
  background-color: var(--primery-backround-color);
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, p, ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.conteiner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.logo {
  color: var(--primary-black-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  margin-right: 93px;
}

.header-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.header-nav {
  margin-right: auto;
}

.color-logo {
  color: var(--accent-color);
}

.header-list-item-link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  color: var(--title-text-color);
}

.header-list-item-link:hover, .header-list-item-link:active {
  color: var(--accent-color);
}

.header-list-item {
  position: relative;
  padding: 32px 0 32px;
}

.header-list-item-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%) scaleX(0.3);
          transform: translateX(-50%) scaleX(0.3);
  display: block;
  width: 95%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 0;
  -webkit-transition: opacity var(--anim-fast), -webkit-transform var(--anim-fast);
  transition: opacity var(--anim-fast), -webkit-transform var(--anim-fast);
  transition: transform var(--anim-fast), opacity var(--anim-fast);
  transition: transform var(--anim-fast), opacity var(--anim-fast), -webkit-transform var(--anim-fast);
}

.header-list-item-link:hover:after,
.header-list-item-link:focus:after {
  opacity: 1;
  -webkit-transform: translateX(-50%) scaleX(1);
          transform: translateX(-50%) scaleX(1);
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-mail, .header-tel {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  color: var(--primery-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.contact-icon {
  fill: currentColor;
}

.hero {
  background-color: #2F303A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/backround/hero-backround.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/backround/hero-backround.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-conteiner {
  padding: 200px 0 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-mail:hover, .header-mail:active, .header-tel:hover, .header-tel:active {
  color: var(--accent-color);
}

.hero-title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  color: var(--primary-white-color);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  width: 696px;
  height: 120px;
  text-align: center;
  margin-bottom: 30px;
}

.hero-button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16;
  line-height: 1.875;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  letter-spacing: 0.1em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
}

.hero-button:active {
  width: 216px;
  background-color: #188CE8;
}

.about-conteiner {
  padding: 94px 0 94px;
}

.about-img-conteiner {
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-list-item {
  width: 270px;
}

.about-list-item-discription {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  color: var(--title-text-color);
  margin-bottom: 10px;
  text-transform: uppercase;
}

.about-list-item-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  color: var(--primery-text-color);
  width: 270px;
}

.work-conteiner {
  padding-bottom: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work-title-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.work-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.work-title-item {
  position: relative;
}

.work-overlay {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 27px 0 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-overlay-text {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: var(--primary-white-color);
}

.team-conteiner {
  padding: 94px 0 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--secondary-background-color);
}

.team-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.team-list-item {
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-info {
  padding: 30px 0 30px;
  background-color: var(--primary-white-color);
}

.team-list-name {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team-list-job {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: var(--primery-text-color);
  margin-bottom: 16px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  -webkit-transition: fill var(--anim-fast), background-color var(--anim-fast);
  transition: fill var(--anim-fast), background-color var(--anim-fast);
}

.social-icon {
  fill: #afb1b8;
  -webkit-transition: fill var(--anim-fast);
  transition: fill var(--anim-fast);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--primary-white-color);
}

.social-link:hover {
  background-color: var(--accent-color);
}

.clients-conteiner {
  padding: 94px 0 94px;
}

.clients-text {
  font-weight: 700;
  font-size: 36px;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.clients-link {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  background-color: var(--primery-backround-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client-icon {
  fill: #AFB1B8;
}

.clients-link:hover {
  border-color: var(--accent-color);
}

.clients-link:hover .client-icon,
.clients-link:focus .client-icon {
  fill: var(--accent-color);
}

.footer {
  background-color: #2F303A;
}

.footer-conteiner {
  padding: 60px 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.address-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 70px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo-footer {
  color: var(--primary-white-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 28px;
}

.color-logo-footer {
  color: var(--accent-color);
}

.footer-address-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-address {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  color: var(--primary-white-color);
  margin-bottom: 9px;
}

.footer-mail, .footer-tel {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  color: var(--primary-white-color);
  opacity: 60%;
}

.footer-mail {
  margin-bottom: 9px;
}

.footer-social {
  margin-right: 93px;
}

.footer-social-text {
  font-weight: 700;
  font-size: 14px;
  color: var(--primary-white-color);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}

.footer-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-icon {
  fill: var(--primary-white-color);
}

.footer-social-link:hover {
  background-color: var(--accent-color);
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 12px;
}

.footer-contact-text {
  font-weight: 700;
  font-size: 14px;
  color: var(--primary-white-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-form-mail {
  background-color: transparent;
  width: 358px;
  height: 50px;
  border: 2px solid var(--primery-text-color);
  border-radius: 5px;
  padding-left: 16px;
}

.footer-form-button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16;
  line-height: 1.875;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  letter-spacing: 0.1em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-form-button:active {
  width: 216px;
  background-color: #188CE8;
}

.footer-ofrm-icon {
  fill: var(--primary-white-color);
}

.portfolio-conteiner {
  padding: 94px 0 94px;
}

.options-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.portfolio-info {
  padding: 20px 24px;
  border: 1px solid #eee;
  border-top: none;
}

.options-list-button {
  background-color: var(--secondary-background-color);
  border: none;
  border-radius: 5%;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16;
  line-height: 1.5;
  color: var(--title-text-color);
  padding: 6px 22px;
  margin-bottom: 50px;
}

.options-list-button:hover {
  background-color: var(--accent-color);
  padding: 6px 25px;
  color: var(--primary-white-color);
}

.portfolio-list-discription {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18;
  line-height: 2;
  color: var(--title-text-color);
}

.portfolio-list-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16;
  line-height: 1.875;
  color: var(--primery-text-color);
}

.overlay-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--anim-fast);
  transition: -webkit-transform var(--anim-fast);
  transition: transform var(--anim-fast);
  transition: transform var(--anim-fast), -webkit-transform var(--anim-fast);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.overlay-text {
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
}

.portfolio-list-item:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: var(--primary-animation-time);
          transition-duration: var(--primary-animation-time);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn {
  position: absolute;
  right: 9px;
  top: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
}

.modal-title {
  display: block;
  font-size: 20px;
  color: var(--primary-black-color);
  text-align: center;
  margin-bottom: 12px;
}

.modal-form-label {
  font-size: 12px;
  margin-bottom: 4px;
}

.modal-form-field {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 5px;
  padding-left: 42px;
  -webkit-transition: outline-color var(--accent-color);
  transition: outline-color var(--accent-color);
}

.modal-form-field:focus {
  outline-color: var(--accent-color);
}

.modal-form-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill var(--anim-fast);
  transition: fill var(--anim-fast);
}

.modal-form-field:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form-massege {
  height: 120px;
  width: 448px;
  padding: 12px 16px;
  resize: none;
  border-radius: 6px;
  border: 2px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 20px;
  outline-offset: -2px;
  -webkit-transition: outline var(--anim-fast);
  transition: outline var(--anim-fast);
}

.modal-form-massege::-webkit-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-massege::-moz-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-massege:-ms-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-massege::-ms-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-massege::placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-massege:focus {
  outline: 2px solid var(--accent-color);
}

.modal-form-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
  margin-bottom: 30px;
}

.modal-form-agreement-desc {
  font-size: 14px;
}

.modal-form-agreement-link {
  color: var(--accent-color);
  text-underline-offset: 3px;
}

.modal-form-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 15px;
  outline: 2px solid var(--primary-black-color);
  border-radius: 2px;
  outline-offset: -2px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: outline-color var(--anim-fast), background-color var(--anim-fast);
  transition: outline-color var(--anim-fast), background-color var(--anim-fast);
}

.modal-form-checkbox:checked {
  outline-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
}

.modal-form-button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16;
  line-height: 1.875;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  letter-spacing: 0.1em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */