:root{
    --primery-text-color:#757575;
    --primery-backround-color:#fff;
    --title-text-color: #212121;
    --primary-white-color: #fff;
    --secondary-background-color: #F5F4FA;
    --primary-black-color: #000000;
    --accent-color: #2196F3;
    --indent: 30px;
    --items: 4;
}

.conteiner{
    width: 100%;
    max-width:1200px;
    margin: 0 auto;
    padding: 0 16px;
}

h1,h2,h3,h4,p,ul{
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body{
    color: var(--primery-text-color);
    background-color: var(--primery-backround-color);
    font-family: "Roboto", sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.card-set{
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
}

.card-set-item{
    flex-basis: calc((100% - var(--indent) * (var(--items)-1)) / (var(--items)));
}

.header-conteiner{
    display: flex;
    padding: 24px 0 25px;
    align-items: center;
    justify-content: center;
}

.logo{
    color: var(--primary-black-color);
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    margin-right: 93px;

}

.header-list{
    display: flex;
    gap: 50px;
}

.header-nav{

    margin-right: auto;
}

.color-logo{
    color: var(--accent-color);
}

.header-list-item-link{
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    color: var(--title-text-color);
}

.header-list-item-link:hover, .header-list-item-link:active{
    color: var(--accent-color);
}

.header-contacts{
    display: flex;
    gap: 50px;
    align-items: center;
}

.header-mail, .header-tel{
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    color: var(--primery-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contact-icon{
    fill: currentColor;
}

.hero{
    background-color: #2F303A;
    background-image: linear-gradient(
        rgba(47 ,48 ,58 ,0.4),
        rgba(47 ,48 ,58 ,0.4)
    ),
    url(./img/backround/hero-backround.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-conteiner{
    padding: 200px 0 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-mail:hover, .header-mail:active, .header-tel:hover, .header-tel:active{
    color: var(--accent-color);
}

.hero-title{
    font-family: "Roboto";
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    color: var(--primary-white-color);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    width: 696px;
    height: 120px;
    text-align: center;
    margin-bottom: 30px;

}


.hero-button{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16;
    line-height: calc(30/16);
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    letter-spacing: 0.1em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    width: 200px;
    height: 50px;
}

.hero-button:active{
    width: 216px;
    background-color: #188CE8;
}

.about-conteiner{
    padding: 94px 0 94px;
}

.about-img-conteiner{
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.about-list{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.about-list-item{
    width: 270px;
}

.about-list-item-discription{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    color: var(--title-text-color);
    margin-bottom: 10px;
    text-transform: uppercase;
}

.about-list-item-text{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    color: var(--primery-text-color);
    width: 270px;
}

.work-conteiner{
    padding-bottom: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.work-title-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.work-title{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    color: var(--title-text-color);
    margin-bottom: 50px;
}

.team-conteiner{
    padding: 94px 0 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--secondary-background-color);
}

.team-title{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    color: var(--title-text-color);
    margin-bottom: 50px;
}

.team-list-item{
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-info{
    padding: 30px 0 30px;
    background-color: var(--primary-white-color);
}

.team-list-name{
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    color: var(--title-text-color);
    margin-bottom: 10px;
}

.team-list-job{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    color: var(--primery-text-color);
    margin-bottom: 16px;
}

.social-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--primary-white-color);
}

.social-icon{
    fill: #AFB1B8;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon
{
    fill: var(--primary-white-color);
}

.social-link:hover{
    background-color: var(--accent-color);
}

.clients-conteiner{
    padding: 94px 0 94px;
}

.clients-text{
    font-weight: 700;
    font-size: 36px;
    color: var(--title-text-color);
    text-align: center;
    margin-bottom: 50px;
}

.clients-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.clients-link{
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    background-color: var(--primery-backround-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-icon{
    fill: #AFB1B8;
}

.clients-link:hover{
    border-color: var(--accent-color);
}

.clients-link:hover .client-icon,
.clients-link:focus .client-icon
{
    fill: var(--accent-color);
}

.footer{
    background-color: #2F303A;
}

.footer-conteiner{
    padding: 60px 0 60px;
    display: flex;
}

.address-info{
    display: flex;
    flex-direction: column;
    margin-right: 70px;
}

.footer-social{
    display: flex;
    flex-direction: column;

}

.logo-footer{
    color: var(--primary-white-color);
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 28px;
}

.color-logo-footer{
    color: var(--accent-color);
}

.footer-address-nav{
    display: flex;
    flex-direction: column;
}

.footer-address{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16/14);
    color: var(--primary-white-color);
    margin-bottom: 9px;
}

.footer-mail, .footer-tel{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    color: var(--primary-white-color);
    opacity: 60%;
}

.footer-mail{
    margin-bottom: 9px;
}

.footer-social-text{
    font-weight: 700;
    font-size: 14px;
    color: var(--primary-white-color);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

.footer-social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.10);
}

.footer-social-icon{
    fill: var(--primary-white-color);
}

.footer-social-link:hover{
    background-color: var(--accent-color);
}

.portfolio-conteiner{
    padding: 94px 0 94px;
}

.options-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.portfolio-info{
    padding: 20px 24px;
    border: 1px solid #eee;
    border-top: none;
}
.options-list-button{
    background-color: var(--secondary-background-color);
    border: none;
    border-radius: 5%;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16;
    line-height: calc(24/16);
    color: var(--title-text-color);
    padding: 6px 22px;
    margin-bottom: 50px;
}
.options-list-button:hover{
    background-color: var(--accent-color);
    padding: 6px 25px;
    color: var(--primary-white-color);
}

.portfolio-list-discription{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 18;
    line-height: calc(36/18);
    color: var(--title-text-color);
}

.portfolio-list-text{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16;
    line-height: calc(30/16);
    color: var(--primery-text-color);
}