.team-title{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    color: var(--title-text-color);
    margin-bottom: 50px;
}

.team-list-item{
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-info{
    padding: 30px 0 30px;
    background-color: var(--primary-white-color);
}

.team-list-name{
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    color: var(--title-text-color);
    margin-bottom: 10px;
}

.team-list-job{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    color: var(--primery-text-color);
    margin-bottom: 16px;
}