:root{
    --primery-text-color:#757575;
    --primery-backround-color:#fff;
    --title-text-color: #212121;
    --primary-white-color: #fff;
    --secondary-background-color: #F5F4FA;
    --primary-black-color: #000000;
    --accent-color: #2196F3;
    --indent: 30px;
    --items: 4;


    --anim-fast: 300ms ease-out;
}